body[theme="dark"] {
  --color-fore: rgb(250, 251, 252);
  --color-fore-0: rgb(250, 251, 252);
  --color-fore-1: rgb(245, 246, 247);
  --color-fore-2: rgb(240, 241, 242);
  --color-fore-3: rgb(235, 236, 237);

  --color-back: rgb(15, 17, 19);
  --color-back-0: rgb(15, 17, 19);
  --color-back-1: rgb(35, 38, 41);
  --color-back-2: rgb(67, 71, 75);
  --color-back-3: rgb(95, 101, 106);
  --color-back-hover: rgb(28, 31, 34);
  --color-back-active: rgb(40, 43, 47);

  --color-accent: rgb(240, 90, 21);
  --color-accent-hover: rgb(255, 140, 50);
  --color-accent-active: rgb(235, 82, 16);

  --color-gray: rgb(110, 112, 115);
  --color-gray-hover: rgb(115, 117, 120);
  --color-gray-active: rgb(110, 112, 115);

  --color-link: rgb(80, 120, 245);
}
